.fondo{
  background:url(../img/fondo.jpg) no-repeat center/cover;font-family: 'helvetica', sans-serif; height:100vh;
 }

.nuestra_aerolinea {
  background: url(../img/nuestra_aerolinea/Img_fondo_nuestra_aerolinea.jpg) no-repeat center;
  background-size: cover;
}

.nuestros_destinos{
  background: url(../img/destinos/IMG_Fondo_Destinos.jpg) no-repeat center/cover;font-family: 'helvetica', sans-serif; height:100vh;
}

.nuestra_flota{
  background: url(../img/nuestra_flota/flota.jpg) no-repeat center/cover;font-family: 'helvetica', sans-serif; height:100vh;
}

.guia_destino{
  background: url(../img/guia_destinos/Img_Fondo_Guia_destinos.jpg) no-repeat center/cover;font-family: 'helvetica', sans-serif; height:90vh;
}

.guia_viajero{
  background: url(../img/guia_viajeros/Img_Fondo_Guia_viajeros.jpg) no-repeat center/cover;font-family: 'helvetica', sans-serif; height:100vh;
}

.ac{
  background: url(../img/ac/Img_Fondo_Cargo.jpg) no-repeat center/cover;font-family: 'helvetica', sans-serif; height:85vh;
}

.agc {
  background: url(../img/agc/Img-Fondo-Charter.jpg) no-repeat center;
  background-size: cover;
}

.transparente {
  background: blue !important;
}

.logo {
    position: absolute;
}

.cuadro {
background-color: #f0f0f0 !important;
border: 15px solid rgba(255, 255, 255,.9);
}



/*titulos*/
.titulo {
color: #0032a0 !important;
font-family:Helvetica !important;
font-size: 11px;
}

.titulo1 {
color: #0032a0 !important;
font-family:Helvetica !important;
font-size: 18px;
}

.titulo2 {
color: #333333 !important;
font-family:'Helvetica' !important;
font-weight:normal !important;
font-size:42px !important;
}

.titulo3 {
color: #0032a0 !important;
font-family:Helvetica !important;
font-size: 33px;
}

.titulo4 {
color: #0032a0 !important;
font-family:Helvetica !important;
font-size: 15px;
}

#titulo_azul {
color: #0032a0 !important;
font-family:Helvetica !important;
font-style: italic !important;
font-size: 20px;
}

#parrafo {
color: #000 !important;
font-family:Helvetica !important;
font-size: 18px;
line-height: 1.9em;
}

.titulo_principal {
font-family:athelas !important;
font-size: 50px;
}

.raya_titulo_flota {
  border-bottom:solid 4px #0032a0;
  width:40%;
  height:1px;
}

.raya_titulo {
  border-bottom:solid 4px #0032a0;
  width:70%;
  height:1px;
}
.pie_pagina {
color: #0032a0 !important;
font-family:Helvetica !important;
font-size: 10px;
}

.botones {
  color: white !important;
  background: #f6b221 !important;
  border-radius: 0.90rem !important;
  float:center !important;
  text-align:center;  
  font-family:Helvetica !important;
  font-style:italic;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

.botones:hover {
  color: white !important;
  background: #0032a0 !important;
}

.botones2 {
  color: white !important;
  background: #0032a0 !important;
  border-radius: 0.90rem !important;
  float:center !important;
  text-align:center;  
  font-family:Helvetica !important;
  font-style:italic;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

.botones1 {
  color: white !important;
  background: #f6b221 !important;
  border-radius: 0.90rem !important;
  float:center !important;
  text-align:center;  
  font-family:Helvetica !important;
  width: 250px;
  height: 40px;
  font-size: 20px;
}

.botones1:hover {
  color: white !important;
  background: #0032a0 !important;
}

.botones3 {
  color: white !important;
  background: #0032a0 !important;
  border-radius: 0.90rem !important;
  float:center !important;
  text-align:center;  
  font-family:Helvetica !important;
  width: 250px;
  height: 40px;
  font-size: 20px;
}

/*  DESTINOS  */
.destino {
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.aruba {
  background: url('../img/destinos/IMG_Aruba.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.aruba:hover {
  background: url('../img/destinos/Paisaje_Aruba.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.barranquilla {
  background: url('../img/destinos/IMG_Barranquilla.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.barranquilla:hover {
  background: url('../img/destinos/Paisaje_Barranquilla.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.bonaire {
  background: url('../img/destinos/IMG_Bonaire.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.bonaire:hover {
  background: url('../img/destinos/Paisaje_Bonaire.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.canaima {
  background: url('../img/destinos/IMG_Canaima.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.canaima:hover {
  background: url('../img/destinos/Paisaje_Canaima.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.carabobo {
  background: url('../img/destinos/IMG_Carabobo.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.carabobo:hover {
  background: url('../img/destinos/Paisaje_Carabobo.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.caracas {
  background: url('../img/destinos/IMG_Caracas.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.caracas:hover {
  background: url('../img/destinos/Paisaje_Caracas.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.curazao {
  background: url('../img/destinos/IMG_Curazao.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.curazao:hover {
  background: url('../img/destinos/Paisaje_Curazao.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.falcon {
  background: url('../img/destinos/IMG_Falcon.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.falcon:hover {
  background: url('../img/destinos/Paisaje_Las Piedras.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.roques {
  background: url('../img/destinos/IMG_Los_Roques.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.roques:hover {
  background: url('../img/destinos/Paisaje_Los Roques.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.margarita {
  background: url('../img/destinos/IMG_Margarita.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.margarita:hover {
  background: url('../img/destinos/Paisaje_Margarita.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.zulia {
  background: url('../img/destinos/IMG_Zulia.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

.zulia:hover {
  background: url('../img/destinos/Paisaje_Maracaibo.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  width: 350px;
}

/*  FIN DESTINOS  */


.valores {
  background: url('../img/nuestra_aerolinea/IMG_valores.png') no-repeat;
  background-size: cover;
  position: relative;
}

.cuadro_parrafo {
  background: rgba(250, 246, 246,.4);
  font-size: 12px;
  border-radius: 1px;
}

/* MENU */
.menu {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 21;
    left: 1%;
}
.menu span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 60%;
  right: 60%;
  margin-right: -15px;
  margin-top: -0.5px;
}
.menu span, .menu span::before, .menu span::after {
  display: block;
  width: 33px;
  left: 0;
  height: 3px;
  background-color: #333333;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
}
.menu span::before, .menu span::after {
  position: absolute;
  content: "";
}
.menu span::before {
  top: -9px;
   width:33px
}
.menu span::after {
  top: 9px;
  width: 33px;

}
.menu.clicked span {
  background-color: transparent;
}
.menu.clicked span::before {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -moz-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  -o-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);    
  width: 20px;
}
.menu.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(45deg);
  -moz-transform: translateY(-9px) rotate(45deg);
  -ms-transform: translateY(-9px) rotate(45deg);
  -o-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
  width: 20px;
}
.menu.clicked span:before, .menu.clicked span:after {
  background-color: #333333;
}
.menu:hover {
  cursor: pointer;
}
/*  NAV
========================================== */

#nav {
  background: rgba(250, 246, 246,.8);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 300px;
  width: 100%;
  padding: 80px 20px 10px 20px;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
#nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.menu.clicked {
    position: fixed;
    z-index: 99;
}
#nav.show .about, #nav.show .social, #nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

@media (min-width: 667px) {
#nav {
  padding: 40px 10px 60px 15px;
}
}
#nav ul.main {
  list-style-type: none;
}
#nav ul.main li {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
  float: none;
    color: #333333
}
#nav ul.main li:last-of-type {
  margin-bottom: 0px;
}
#nav ul.main li a {
  color: #333333;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 10px 0;
}
#nav ul.main li a span {
  color: #0032a0;
}
#nav ul.main li a:hover {
  background: rgba(244, 178, 35,.4);
  color: #0033a1;
}

#modal {
  width: 500px !important;
  height: 500px !important;
}
#nav ul.sub {
  list-style-type: none;
  margin-top: 100px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
#nav ul.sub li {
  margin-bottom: 100px;
}
#nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}
#nav ul.sub li a {
  color: #333333;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
}
#nav ul.sub li a:hover {
  color: #0032a0;
}
.menu:hover span{}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: #603e82;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}
/*  FIN MENU */

/*carousel*/

.blog .carousel-indicators {
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

/*BIENVENIDOS A BORDO*/
.bordo {
  background: url(../img/cabina.jpg) no-repeat center;
  background-size: cover;
}

/*bajo*/
.col-md-4{
  display: inline-block;
  margin-left:-5px;
}
.col-md-4 img{
  width:100%;
  height:auto;
}
  
body .carousel-control-prev-icon,
body .carousel-indicators li,
body .carousel-control-next-icon{
  background-color:#333333;
}

span.carousel-control-prev-icon {
 position: relative;
 bottom: 40px;
 right: 40px;
}

span.carousel-control-next-icon {
 position: relative;
 bottom: 40px;
}

/*CORREO*/
.correo {
  background: url(../img/correo.jpg) no-repeat center;
  background-size: cover;
}

.blanco {
color: #fff !important;
font-family:Helvetica !important;
}

.btn {
	color: white !important;
	background: #f6b221 !important;
	border-color: #f6b221 !important;
	border: 30 !important;
	float:center !important;
	text-align:center !important;	
  font-family:Helvetica !important;
}

.btn:hover {
  color: white !important;
  background: #0032a0 !important;
  border-color: #0032a0 !important;
}


/*PIE*/

.amarillo {
	color: #f6b221 !important;
  font-family:Helvetica !important;
}

.boton {
  text-align: center !important;
  border: 0 transparent !important;
  font-family:Helvetica !important;
  color: #0032a0 !important;
  background-color: transparent !important;
  font-size: 10px !important;
}

/*contacto*/
.contacto {
width: 15px;
font-size:5px !important;
}

.contactos {
margin: .2em 2em 2em 0 !important;
 right: 40px;
}

/*redes sociales*/
ul {
   list-style: none;
   margin: 100;
   padding: 5px;
}
#sticky-social {
   right: 0;
   position: fixed;
   top: 200px;
}
#sticky-social a {
   display: inline-block;
   height: 24px;
   width: 24px;
}

.instagram {
  background-image: url("../img/RRSS/instagram.png")
}
.instagram:hover {
  background-image: url("../img/RRSS/instagram1.png");
}

.facebook {
  background-image: url("../img/RRSS/facebook.png")
}
.facebook:hover {
  background-image: url("../img/RRSS/facebook1.png");
}

.twitter {
  background-image: url("../img/RRSS/twitter.png")
}
.twitter:hover {
  background-image: url("../img/RRSS/twitter1.png");
}

.youtube {
  background-image: url("../img/RRSS/youtube.png")
}
.youtube:hover {
  background-image: url("../img/RRSS/youtube1.png");
}




.modal-content {
  background: rgba(250, 246, 246,-.1) !important;
  border: 0px solid rgba(0, 0, 0, 0.2) !important;
}